@model IngredientsCalculations.Models.ProductIngredients

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductIngredients</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.productName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.ingredientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
